{% extends 'header.html' %}

{% load static %}

{% block cuerpo %}
		
<div class="wrapper-pad">
	<h2>Info Extra de {{ persona.apellido }}, {{ persona.nombre }}
		<div class="fright" style="height:5px; margin-right:55px;"></div>
			<a href="{% url 'persona_tipoextra_am' 0 persona.id %}" name="nuevo_evento" class="btn blue fright"><i class="fa fa-plus"></i>Nuevo Extra</a> <br>
	</h2>

	<table border="1" rules="rows" id="eventos_lista" >
		<thead>
			<tr>
				<td width="20%">Nombre</td>
				<td width="50%">Tipo Extra</td>
				<td width="20%">Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% for personaextra in personaextras %}
				<tr data-type="element" data-id={{ personaextra.id }}>
					<td class="hover" data-type="name">{{ personaextra.tipoextra }}</td>
					<td class="hover" data-type="name">{{ personaextra.comentario }}</td>
					<td>
						<a href="{% url 'persona_tipoextra_am' personaextra.tipoextra.id persona.id %}" name="c3" title="Modificar Info Extra"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

<div class="clear" style="margin-bottom:40px;"></div>
<div class="border" style="margin-bottom:30px;"></div>

{% endblock %}
