{% extends 'header.html' %}

{% load static %}

{% block cuerpo %}
		
<div class="wrapper-pad">
	<h2>Persona {{ persona.apellido }}, {{ persona.nombre }}</h2>

	<div class="center">
		<table border="1" rules="rows" id="casas_lista" >
			<thead>
				<tr>
					<td width="40%">Imagen</td>
					<td width="60%">Datos</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{% if persona.foto %}
							<img src="{{ persona.foto.url }}" heigth='300' width='300' />
						{% else %}
							<img src="{% get_media_prefix %}bosquetaoista/nophoto.jpg" height='300' width='300' alt="" />
						{% endif %}
						<br> <br>
						{% if persona.certificado  %}
							<img src="{{ persona.certificado.url }}" height='300' width='300' />
						{% else %}
							<img src="{% get_media_prefix %}bosquetaoista/nocert.png" height='300' width='300' alt="" />
						{% endif %}
					</td>
					<td>
											<table>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Orden</div>
										<div class="col">{{ persona.orden }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Estado</div>
										<div class="col">{{ persona.estado }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Grado</div>
										<div class="col">{{ persona.grado }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Casa Práctica</div>
										<div class="col">{{ persona.casa_practica }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Responsable de Casa</div>
										<div class="col">{{ persona.responsable_casa }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Dirección</div>
										<div class="col">{{ persona.direccion }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Localidad</div>
										<div class="col">{{ persona.localidad }} ({{persona.codigo_postal }})</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">e-mail</div>
										<div class="col">{{ persona.email }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Fecha de Nacimiento</div>
										<div class="col">{{ persona.fechanacimiento|date:'d-m-Y' }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Fecha de Ingreso</div>
										<div class="col">{{ persona.fechaingreso|date:'d-m-Y' }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Fecha de Egreso</div>
										<div class="col">{{ persona.fechaegreso|date:'d-m-Y' }}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="row align-items-start">
										<div class="col">Documento</div>
										<div class="col">{{ persona.tipodoc }} {{ persona.nrodoc }}</div>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h2>Cursos / Actividades / Prácticas</h2>
	<div class="center">
		<table border="1" rules="rows" id="casas_lista" >
			<thead>
				<tr>
					<td width="25%">Tipo</td>
					<td width="25%">Nombre</td>
					<td width="20%">Fecha</td>
					<td width="20%">Orador</td>
					<td width="10%">Estado</td>
				</tr>
			</thead>
			<tbody>
				{% for cursante in cursantes %}
					<tr>
						<td>{{ cursante.agenda.evento.tipo }}</td>
						<td>{{ cursante.agenda.evento.nombre }}</td>
						<td>{{ cursante.agenda.fecha|date:"d-m-Y" }}</td>
						<td>{{ cursante.agenda.orador }}</td>
						<td>{{ cursante.tipocursante.nombre }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<br>
<!-- Info extra -->
	<h2>Información Extra</h2>
	<div class="center">
		<table border="1" rules="rows" id="casas_lista" >
			<thead>
				<tr>
					<td width="20%">Tipo</td>
					<td width="80%">Comentario</td>
				</tr>
			</thead>
			<tbody>
				{% for personaextra in personaextras %}
					<tr>
						<td>{{ personaextra.tipoextra }}</td>
						<td>{{ personaextra.comentario }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="clear" style="margin-bottom:40px;"></div>
	<div class="border" style="margin-bottom:30px;"></div>
</div>

{% endblock %}
