{% extends 'header.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block cuerpo %}

<div id="content">
	<div id="registro">
		<form method="POST" action="" name="registro">
			{% csrf_token %}
			<table>
				{% for f in form %}
					<tr>
						<td width="20%"></td>
						<td>{{ f.label_tag }}</td>
						<td>{{ f }}</td> 
						<td width="20%"></td>
					</tr>
				{% endfor %}
			</table>
			<br>
			<button class="btn blue" onclick="location.href='{% url 'home' %}' ;">Volver</button>
			<input type="submit" name="registro" class="btn blue" value="Confirmar" />
			<br> <br>
		</form>
	</div>
</div>

{% endblock %}
